.app {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.container {
    width: 100%;
    max-width: 90vw;
    padding: 1vmax;
}

.container__separator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5vmax;
  // grid-template-columns: 2fr 1fr;
  // grid-column-gap: 2vw;
}
