.app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.container {
    width: 100%;
    max-width: 90vw;
    padding: 1vmax;
}

.containerSeparator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5vmax;
}
